Repository atg25/AGmedia.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier --write, stylelint --fix, html-validate

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "npx prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "npx prettier --write"],
  "*.html": ["html-validate", "npx prettier --write"],
  "*.{json,md}": ["npx prettier --write"]
}

docs: add live site link to README
  README.md
Due: npx prettier --write

fix: add prettier to devDependencies for CI/CD
  package.json
Due: npx prettier --write

fix: use npm install instead of npm ci in workflow
  .github/workflows/deploy.yml
Due: none

style: fix prettier formatting on index.html
  src/index.html
Due: npx prettier --write, html-validate

feat: implement collapsible accordion for case studies section
  .husky/pre-push
  src/index.html
Due: npx prettier --write, html-validate

fix: improve GitHub Actions deployment concurrency and timeout
  .github/workflows/deploy.yml
Due: none

feat: implement collapsible accordion for case studies section
  .htmlvalidate.json
  src/index.html
  src/main.css
  src/main.js
Due: eslint --fix, npx prettier --write, stylelint --fix, html-validate

fix: update section header text and enhance case study styles
  src/index.html
  src/main.css
Due: npx prettier --write, stylelint --fix, html-validate
